@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){

}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){


  .choose-font {

    a {
      padding: 11px 13px;
    }

  }

}
	/**/


@media only screen and (max-width : 640px){
  .preview, .settings {
    height:100vh;
  }
  .setting-block-span {
    text-align: center;
  }
  .choose-font {
    display: block;
    a {
      padding: 10px 12.5px;
    }
  }
  .chooses-style {
    font-size: 18px;
    display: block;
    text-align: center;

  }
  .choose-bg {
    display: block;
    text-align: center;
    padding: 5px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .preview, .settings {
    height:100vh;
  }
  .choose-font {
    a {
      padding: 10px 12.5px;
    }
  }
  .chooses-style {
    font-size: 16px;

  }
}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){

}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}
	/**/

