@import "vars";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px){

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px){

}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
  .choose-font {
    a {
      padding: 11px 13px;
    }
  }
  .choose-bg {

    margin: 10px 0;
    a {
      padding: 7px 15px;
    }
  }

}
	/**/


@media only screen and (max-width : 640px){
  .settings {
    margin-left: 0;
    padding-left: 10px;
  }
  #result {
    margin-left: 0;
  }
  #userbg {

    height: 100%;
  }
  .setting-block-span {
    padding-right: 12px;
  }
  .choose-font {
    a {
      padding: 10px 12.5px;
    }
  }
  .chooses-style {
    font-size: 18px;
    //display: block;

  }
  .choose-bg {

    margin: 10px 0;
    a {
      padding: 7px 15px;
    }
}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
  .settings {
   > .block-text {
    text-align: center;
    }
  }

  #userbg {
    min-height: 436px;
    height: 100%;
  }
  #user-font {
    bottom: 250px;
  }
  .choose-font {
    a {
      padding: 10px 12.5px;
    }
  }
  .chooses-style {
    font-size: 16px;
  }
  #result {
    font-size: 36px;
    margin: 110px 0;
  }
}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 440px){
  #userbg {
    min-height: 478px;
    height: 100%;
  }
}
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px){

}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){

}
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){

}
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){

}
	/**/

