$font1: "Source Sans Pro", sans-serif;
$blue: #4990e2;
$green: #1fcc6d;
$yellow: #f1c40f;
$black: #34495e;
$darkWhite:  #ecf0f1;
$font1: 'Lato', sans-serif;
$font2: 'Oswald', sans-serif;
$font3: 'Source Sans Pro', sans-serif;